body {
  background-color:lightslategray;
}
.jumbotron {
  width: 100%;
  height: 300px;
  background-image: url('{{mars_info.Feature_Image_Link}}');
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
#jumbotron-text {
  font-family:Francois One;
  font: 275;
  font-style:inherit;
}
.mars-news-text {
  font-family: Ubuntu;
}
.mars-news-title {
  font-family: Ubuntu;
}
#mars-news-information {
  text-align: inherit;
  font-family: Ubuntu;
}
.mars-weather-text{
  text-align: center;
  font: bold;
}
.Featured-img {
  position: relative;
  background-size: 100%;
  width:100%;
  padding: 1px;
  
}
.panel-body {
  text-align: center;
  font-family: Francois One;
  font-weight: bold;
}